<div class="card" >
    <div class="card-header">
        <div class="d-flex flex-row">
            <div class="p-2"><span class="card-subHeader">Arrow Enterprise Computing Solutions</span></div>
            <div class="p-2">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="padding: 0;font-size: 13px;margin-top: 5px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Change sales motion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
            </div>
           
          </div>

    </div>
    <div id="cardOpen" class="card-body" style="padding: 0">
        
  
            <div class="table" style="margin: 0">
              
              <div class="row header blue">
                <div class="cell">
                    Partner Account Number
                </div>
                <div class="cell">
                    Partner Account Name
                </div>
                <div class="cell">
                  Account Type
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="PartnerAccountNumber">
                  1592342739
                </div>
                <div class="cell" data-title="PartnerAccountName">
                  Arrow Enterprise Computing Solutions
                </div>
                <div class="cell" data-title="Account Type">
                  Partner
                </div>
              </div>
              
            </div>
            
      <div id="demo" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
  </div> 