

<div class="mainContainer">
    <nav class="navbar navbar-blue">
        <span class="navbar-brand mb-0 h1">Manage Solution Relationships</span>
      </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
          <app-primary-account></app-primary-account>
        </div>
      </div>
        <div class="row">
          <div class="col-12">
              <app-bill-to-customer></app-bill-to-customer>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
              <app-end-customer></app-end-customer>
              </div>
        </div>
      </div>
</div>
