@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";

.pos{
    position: absolute;
    top:10px;
    /* left:10px; */
    height: 100px;
    /* background-color: rgb(119, 119, 145); */
}

.parent{
    position: relative;
}

.navbar-blue{
    background-color: #0085C3 !important;
}
.navbar-blue .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
.row{
    display: block !important;
}
