<!-- <div class="parent">
    <div class="card" >
        <div class="card-header">BillTo Customer
          <div class="float-right">
            <button class="btn edit-btn" (click)="editPanel()"><i class="fas fa-edit"></i> Edit</button> 
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Customer Number</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div> 
  
        <div *ngIf="showEditMode" class="card editCardMode">
            <div class="card-body">
              <a *ngIf="showEditMode" class="float-right close-edit-card-btn" (click)="editPanelClose()"><i class="fas fa-times"></i></a>
              <h5 class="card-title">Customer Number</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> 
  </div> -->

  <div class="card" >
    <div class="card-header">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight"> BillTo Customer</div>
            <div class="p-2 bd-highlight">
                <a href="#demo1" class="btn edit-btn" data-toggle="collapse"><i class="fas fa-edit" data-toggle="collapse"></i> Edit</a>
            </div>
          </div>
    </div>
    <div id="cardOpen" class="card-body">
      <div id="demo1" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
  </div> 
  <div class="card" >
      <div class="card-header">
          <div class="d-flex bd-highlight">
              <div class="p-2 flex-grow-1 bd-highlight"> End Customer</div>
              <div class="p-2 bd-highlight">
                  <a href="#demo2" class="btn edit-btn" data-toggle="collapse"><i class="fas fa-edit" data-toggle="collapse"></i> Edit</a>
              </div>
            </div>
      </div>
      <div id="cardOpen" class="card-body">
        <div id="demo2" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
      </div>
    </div> 
    <div class="card" >
        <div class="card-header">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight"> ShipTo Customer</div>
                <div class="p-2 bd-highlight">
                    <a href="#demo3" class="btn edit-btn" data-toggle="collapse"><i class="fas fa-edit" data-toggle="collapse"></i> Edit</a>
                </div>
              </div>
        </div>
        <div id="cardOpen" class="card-body">
          <div id="demo3" class="collapse">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
      </div> 
      <div class="card" >
          <div class="card-header">
              <div class="d-flex bd-highlight">
                  <div class="p-2 flex-grow-1 bd-highlight"> Install AT Customer</div>
                  <div class="p-2 bd-highlight">
                      <a href="#demo4" class="btn edit-btn" data-toggle="collapse"><i class="fas fa-edit" data-toggle="collapse"></i> Edit</a>
                  </div>
                </div>
          </div>
          <div id="cardOpen" class="card-body">
            <div id="demo4" class="collapse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
          </div>
        </div> 
