<h3>Alert</h3>

<div class="container">
    <div class="row">
        <div class="col ">
            <div class="parent">
                    <div class="card">
                            <div class="card-header">Position</div>
                            <div class="card-body">
                                <p>card 1 Positioning.....</p>
                            </div>
                        </div>

                            <div class="card pos">
                            <div class="card-header">Position</div>
                            <div class="card-body">
                                <p>Card 2 Positioning.....</p>
                            </div>
                        </div> 

            </div>
        
          
          
        </div>
    </div>
</div>