<div class="dds__container-fluid"> 
    <div class="dds__col-sm-12 dds__col-md-12 dds__col-xl-12 dds__py-5">
          <div class="dds__form-row">
            <div class="dds__col-md-6 ">
                <div class="dds__mb-3">
                    <h4>Address</h4>
                </div>

                <div class="dds__form-row">
                        <div class="dds__col-sm-4 dds__mb-3">
                                <label for="validationCustom01">Country</label>
                        </div>        
                        <div class="dds__col-sm-8 dds__mb-3">
                            <input type="text" class="dds__form-control" id="validationCustom01" required="" aria-invalid="false">
                            <div class="dds__invalid-feedback">
                                    Please enter your first name.
                            </div>
                        </div>

                        <div class="dds__col-sm-4 dds__mb-3">
                                <label for="validationCustom01">Address Line1</label>
                        </div>        
                        <div class="dds__col-sm-8 dds__mb-3">
                            <input type="text" class="dds__form-control" id="validationCustom01" required="" aria-invalid="false">
                            <div class="dds__invalid-feedback">
                                    Please enter your first name.
                            </div>
                        </div>

                        <div class="dds__col-sm-4 dds__mb-3">
                                <label for="validationCustom01">Address Line2(optional)</label>
                        </div>        
                        <div class="dds__col-sm-8 dds__mb-3">
                            <input type="text" class="dds__form-control" id="validationCustom01" required="" aria-invalid="false">
                            <div class="dds__invalid-feedback">
                                    Please enter your first name.
                            </div>
                        </div>

                        <div class="dds__col-sm-4 dds__mb-3">
                                <label for="validationCustom01">Mail Stop(optional)</label>
                        </div>        
                        <div class="dds__col-sm-8 dds__mb-3">
                            <input type="text" class="dds__form-control" id="validationCustom01" required="" aria-invalid="false">
                            <div class="dds__invalid-feedback">
                                    Please enter your first name.
                            </div>
                        </div>
                </div>
             
                 
            
            </div>
            <div class="dds__col-md-6" style="padding-left: 5%">
                <div class="dds__mb-3">
                    <h4>Contact Details</h4>
                </div>
                <div class="dds__form-row">
                        <div class="dds__col-sm-4 dds__mb-3">
                                <label for="validationCustom01">Title</label>
                        </div>        
                        <div class="dds__col-sm-8 dds__mb-3">
                            <input type="text" class="dds__form-control" id="validationCustom01" required="" aria-invalid="false">
                            <div class="dds__invalid-feedback">
                                    Please enter your first name.
                            </div>
                        </div>

                        <div class="dds__col-sm-4 dds__mb-3">
                                <label for="validationCustom01">First Name</label>
                        </div>        
                        <div class="dds__col-sm-8 dds__mb-3">
                            <input type="text" class="dds__form-control" id="validationCustom01" required="" aria-invalid="false">
                            <div class="dds__invalid-feedback">
                                    Please enter your first name.
                            </div>
                        </div>

                        <div class="dds__col-sm-4 dds__mb-3">
                                <label for="validationCustom01">Middle Name</label>
                        </div>        
                        <div class="dds__col-sm-8 dds__mb-3">
                            <input type="text" class="dds__form-control" id="validationCustom01" required="" aria-invalid="false">
                            <div class="dds__invalid-feedback">
                                    Please enter your first name.
                            </div>
                        </div>

                        <div class="dds__col-sm-4 dds__mb-3">
                                <label for="validationCustom01">Last Name</label>
                        </div>        
                        <div class="dds__col-sm-8 dds__mb-3">
                            <input type="text" class="dds__form-control" id="validationCustom01" required="" aria-invalid="false">
                            <div class="dds__invalid-feedback">
                                    Please enter your first name.
                            </div>
                        </div>
                </div>  
            </div>
        
        </div>
    </div>  
</div>




 
