<!-- <div class="parent">
  <div class="card" >
      <div class="card-header">End Customer
        <div class="float-right">
          <button class="btn edit-btn" (click)="editPanel()"><i class="fas fa-edit"></i> Edit</button> 
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Customer Number</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div> 

      <div *ngIf="showEditMode" class="card editCardMode">
          <div class="card-body">
            <a *ngIf="showEditMode" class="float-right close-edit-card-btn" (click)="editPanelClose()"><i class="fas fa-times"></i></a>
            <h5 class="card-title">Customer Number</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div> 
   


</div> -->
